<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160837621855-qe2ueu7vvd0trh8bka054acs0ucrqupq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160837621855-qe2ueu7vvd0trh8bka054acs0ucrqupq</string>
	<key>API_KEY</key>
	<string>AIzaSyAP6srXz8vS9SJKfQ5rYz-aK1QsevEYZdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>160837621855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playmate</string>
	<key>PROJECT_ID</key>
	<string>playmate-b7739</string>
	<key>STORAGE_BUCKET</key>
	<string>playmate-b7739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160837621855:ios:a1725789274811beffa3ea</string>
</dict>
</plist>